{% extends 'base.html' %}
{% block body %}
<center>
<form action="/search" method="GET">
   

    <div class="form-group" >
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" name='query' class="form-control">
              <option selected>Choose...</option>
              <option>Slice of Life</option>
            </select>
          </div>
    </div>
    <button type="submit" class="btn btn-secondary">Lets Go</button>
</form>
</center>    
{% endblock body %}
    